{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8"> 
        <h1>Hola pizza</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum, totam autem modi ratione maiores labore repudiandae, eum perferendis veniam explicabo, qui laboriosam. Consequuntur culpa officiis vel provident ipsum aliquam fuga?
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/pizza.jpg" class="img-thumbnail">
    </div>
</div>   
{{> footer }}